{# custom.css #}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.global {
    row-gap: 15px;
    column-gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.my-div {
    width: 415px;
    height: 728px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

.my-iframe {
    position: absolute;
    top: -385px;
    left: -346px;
    width: 1280px;
    height: 1200px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 15px 10px;
    margin-bottom: 15px;
    color: #484848;
    border-bottom: 1.5px solid #d5d5d5;
}

.element {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;

    border: #f9f9f9 10px solid;
    outline: 1px solid #d5d5d5;
    background-color: #f9f9f9;
    border-radius: 3px;
}
